/* 顶部导航 */
header {
  margin: 0 auto;
  position: relative;
}
header .top {
  padding: 3px 10px;
  background-color: rgb(248, 248, 248);
}
header .top .topLeft span{
  font-size: 0.75em;
  color: rgb(0, 0, 0);
}

header .top .row {
  margin: 0 auto;
  max-width: 1200px;
}
header .top .topRight P{
  text-align: right;
}
header .top .topRight P{
  text-align: right;
}
header .top .topRight P span:first-child{
  font-size: 0.75em;
  color: rgb(127, 127, 127);
  line-height: 150%;
}
header .top .topRight P span:last-child{
  color: rgb(255, 114, 0);
}
header .top .topRight strong{
  font-size: 1.25em;
  font-weight: 700;
}
header .bottom {
  max-width: 1350px;
}
header .bottom .logo {
  padding-top: 30px;
}
header .bottom .logo img {
  display: block;
  position: static;
  width: 100%;
  height: auto;
}
header nav {
  text-align: left;
}
header nav ul {
  display:flex;
  margin-bottom: 0;
  z-index: 10;
}
header nav ul li {
  position: relative;
  flex: 1;
  cursor: pointer;
  text-align: center;
  color: #fff;
  background-color: #fff;
}
header nav ul li a {
  height: 80px;
  line-height: 80px;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  z-index: 20;
  transition: .5s;
}
header nav ul li.active a {
  background-color: rgb(248, 248, 248);
  color:var(--color-high-text);
}
header nav ul li:after{
  content: '';
  display: block;
  margin-bottom: 0;
  width: 0;
  height: 80px;
  background: rgb(248, 248, 248);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transition: .5s;
}
header nav ul li:hover::after{
  width: 100%;
  z-index: 1;
  clear: both;
}

header nav ul li a:after {
  color: #fff !important;
  position: relative !important;
  z-index: 100 !important;
  position: absolute;
  top:0;
  left:0;
}
header nav ul li:hover{
  position: relative;
}
header nav ul li a:hover {
  text-decoration: none;
}
header nav ul li:hover a{
  position: relative;
  z-index: 10;
  color:var(--color-high-text) !important;
}